---
import LayoutWorks from "../../layouts/LayoutWorks.astro";
import { WORKS } from "../../constants";
const id = 1;
---

<LayoutWorks title={WORKS[id].title}>
  <p class="mt-2">
    <b>{WORKS[id].title}</b>, created at {WORKS[id].date} of {WORKS[id].year}
  </p>
</LayoutWorks>

<script>
  import p5 from "p5";
  import { mySketch } from "../../js/love-story";
  new p5(mySketch, document.getElementById("sketch"));
</script>
