<footer class="main-footer">
  <div class="copyright">
    <h3><p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p></h3>

    <div class="instagram"><a href="{{site.instagram}}" target="_blank"><i class="fa fa-instagram fa-3"></i></a>
    <a href="{{site.github}}" target="_blank"><i class="fa fa-github fa-3"></i></a>
    <a href="{{site.facebook}}" target="_blank"><i class="fa fa-facebook fa-3"></i></a>
    <a href="{{site.soundcloud}}" target="_blank"><i class="fa fa-soundcloud fa-3"></i></a>
    <a href="{{site.youtube}}" target="_blank"><i class="fa fa-youtube fa-3"></i></a>
    <a href="{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin fa-3"></i></a>

    </div>

  </div>

</footer> <!-- End Footer -->
