<footer class="main-footer">
  <div class="copyright">
    <h3><strong>{{site.time | date: '%Y'}} &copy; {{site.author}}</strong></h3>

    <a href="{{site.instagram}}" target="_blank"><img  alt="Nic Motta | " width="20px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/instagram.svg" /></a>
    <a href="{{site.github}}" target="_blank"><img  alt="Nic Motta | GitHub" width="20px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/github.svg" /></a>
    <a href="{{site.facebook}}" target="_blank"><img  alt="Nic Motta | Facebook" width="20px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/facebook.svg" /></a>
    <a href="{{site.soundcloud}}" target="_blank"><img  alt="Nic Motta | SoundCloud" width="20px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/soundcloud.svg" /></a>
    <a href="{{site.youtube}}" target="_blank"><img alt="Nic Motta | YouTube" width="20px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/youtube.svg" /></a>
    <a href="{{site.linkedin}}" target="_blank"><img  alt="Nic Motta | LinkedIn" width="20px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/linkedin.svg" /></a>

    </div>

</footer> <!-- End Footer -->
