---
import Layout from "../layouts/Layout.astro";
---
<Layout title="e x h i b i c i o n e s">
  <h3 class="text-center mt-5 font-bold text-xl">[ exhibiciones ]</h3>
  <hr class="w-1/2 m-auto my-2">

  <div class="grid grid-cols-1 md:grid-cols-1">
    <div class="text-left text-sm">
      <h3 class="pt-4 pb-2 font-bold text-base">[ 2021 ]</h3>
        <ul class="py-1">
          <li> <b>() Bienal de La Habana</b><span class="text-gray-400"> — Museo Wilfredo Lam / La Habana, Cuba</span></li>
          <li> <b>() Premio FUSION 2020</b><span class="text-gray-400"> — Centro Cultural San Martin / Buenos Aires, Argentina</span></li>
          <li> <b>() Simposio de Arte Sonoro</b><span class="text-gray-400"> — Universidad Nacional Tres de Febrero / Buenos Aires, Argentina</span></li>
          <li> <b>() 16º Simposio de Arte Contemporáneo</b><span class="text-gray-400"> — Universidad Federal de Santa Maria / Santa Maria, Brasil</span></li>
          <li> <b>() FACTORS 8.0</b><span class="text-gray-400"> — Universidad Federal de Santa Maria / Santa Maria, Brasil</span></li>
          <li> <b>() Proyecto BIOS</b><span class="text-gray-400"> — Objecto A / Buenos Aires, Argentina</span></li>
        </ul>
      <h3 class="pt-4 pb-2 font-bold text-base">[ 2020 ]</h3>
        <ul class="py-1">
          <li> <b>() Territorio / #ProaADistancia</b><span class="text-gray-400"> — Fundación PROA / Buenos Aires, Argentina</span></li>
          <li> <b>() Del dato a la materia </b><span class="text-gray-400"> — Universidad Nacional de las Artes - Cátedra Caceres</span></li>
        </ul>
      <h3 class="pt-4 pb-2 font-bold text-base">[ 2019 ]</h3>
        <ul class="py-1">
          <li> <b>() data_mesh</b><span class="text-gray-400"> — Espacio Huellas / Buenos Aires, Argentina</span></li>
          <li> <b>() Bienalsur - Invadir/Resistir</b><span class="text-gray-400"> — Centro Cultural de España en Costa Rica / San José, Costa Rica</span></li>
          <li> <b>() Festival PROYECTOR</b><span class="text-gray-400"> — Quinta Del Sordo / Madrid, España</span></li>
          <li> <b>() Festival Estéticas Expandidas</b><span class="text-gray-400"> — Universidad de Nariño / Nariño, Colombia</span></li>
          <li> <b>() Bienalsur - Invadir/Resistir</b><span class="text-gray-400"> — Museo de Arquitectura / Buenos Aires, Argentina</span></li>
          <li> <b>() Ingresando datos, procesando emergencias</b><span class="text-gray-400"> — Universidad Museo Social Argentino / Buenos Aires, Argentina</span></li>
          <li> <b>() Wunderkammer: Objetos Utópicos</b><span class="text-gray-400"> — Universidad Complutense / Madrid, España</span></li>
        </ul>
      <h3 class="pt-4 pb-2 font-bold text-base">[ 2018 ]</h3>
        <ul class="py-1">
          <li> <b>() Noviembre Electrónico - Noche de los Museos</b><span class="text-gray-400"> — Universidad Museo Social Argentino / Buenos Aires, Argentina</span></li>
          <li> <b>() Antología Bienal Kosice</b><span class="text-gray-400"> — Centro Cultural San Martin / Buenos Aires, Argentina</span></li>
          <li> <b>() Festival Transversal </b><span class="text-gray-400"> — Instituto Baikal / Buenos Aires, Argentina</span></li>
          <li> <b>() FACTORS - Festival de Arte, Ciencia y Tecnología</b><span class="text-gray-400"> — Universidad Federal de Santa Maria / Santa Maria, Brasil</span></li>
          <li> <b>() 1º Premio ARCITEC - Arte Electrónico</b><span class="text-gray-400"> — Centro Cultural San Martin / Buenos Aires, Argentina</span></li>
        </ul>
      <h3 class="pt-4 pb-2 font-bold text-base">[ 2017 ]</h3>
        <ul class="py-1">
          <li> <b>() FASE9 - Noviembre Electrónico</b><span class="text-gray-400"> — Centro Cultural San Martin / Buenos Aires, Argentina</span></li>
        </ul>
    </div>
  </div>
</Layout>