---
import Layout from "../layouts/Layout.astro";
import { PortfolioCard } from "../components";
---

<Layout title="p o r t f o l i o">
  <h3 class="text-center mt-5 font-bold text-xl">[ portfolio ]</h3>
  <hr class="w-1/2 m-auto my-2">

  <h3 class="text-center mt-5 font-bold text-xl">[ desarrollo web / apps ]</h3>
  <hr class="w-1/4 m-auto my-2">

  <PortfolioCard title="App-Bike [wip]" year="2022" url="https://app-bike-build.netlify.app/" img="app-bike.png" tecnology="React.js" code="https://github.com/NicMotta/app-bike-desarrollo"/>

  <PortfolioCard title="App-Clima" year="2022" url="https://nicmotta.github.io/clima-app/" img="clima-app.png" tecnology="React.js" code="https://github.com/NicMotta/clima-app-react-desarrollo"/>

  <PortfolioCard title="Visual-Data" year="2022" url="https://nicmotta.github.io/VisualizadorJavascript/" img="visualizadorcsv.png" tecnology="Javascript" code="https://github.com/NicMotta/VisualizadorJavascript"/>

  <PortfolioCard title="MURU 7.8 - web" year="2021" url="https://muru7-8.github.io/" img="muru.png" tecnology="html, css, js" code="https://github.com/muru7-8/muru7-8.github.io"/>

  <PortfolioCard title="App - MURU 7.8" year="2021" url="https://muru7-8.github.io/respir0-namiki/" img="respir0-namiki.png" tecnology="Javascript" code="https://github.com/muru7-8/respir0-namiki"/>

  <PortfolioCard title="Derivas Virtuales - FADU" year="2021" url="https://derivasvirtuales.com.ar/" img="derivas-virtuales.png" tecnology="Javascript" code=""/>

  <PortfolioCard title="Comic interactivo - Matar a los tiranxs" year="2021" url="https://mataralostiranos.github.io/" img="mataralostiranxs.png" tecnology="Javascript" code=""/>

  <PortfolioCard title="App - MURU 7.8" year="2020" url="https://namiki-universo-digital.netlify.app/" img="namiki-digital.png" tecnology="Javascript" code=""/>

  <PortfolioCard title="Grup3 - MAE" year="2020" url="https://nicmotta.github.io/grup3_sonido/" img="grup3.png" tecnology="Javascript" code="https://github.com/NicMotta/grup3_sonido"/>

  <PortfolioCard title="Portfolio - Magali Mc Grath" year="2019" url="https://tiempoheredado.github.io/" img="tiempoheredado.png" tecnology="html, css, js" code=""/>

  <h3 class="text-center mt-10 font-bold text-xl">[ modelado 3D ]</h3>
  <hr class="w-1/4 m-auto my-2">

  <PortfolioCard title="3D Modeling" year="2016 - 2022" url="https://nicmotta.artstation.com" img="3dmodeling.png" tecnology="Zbrush, Blender" code=""/>

</Layout>