---
const { title, year, img, url } = Astro.props
---

<div class="relative my-4 h-32 transition duration-100 hover:opacity-50">
  <a href={`/proyecto/${url}`}>
    <div class="bg-gray-100 absolute top-10 left-5 p-1 m-1">
      <p class="text-base font-bold md:text-lg">{title}</p>
      <p class="text-sm text-gray-500 font-bold md:text-base">[{year}]</p>
    </div>
    <img class="object-cover h-full w-full" src={`../../public/assets/images/${img}`} alt=""> 
  </a>
</div>