---
const {title, url} = Astro.props
---

<!-- <a href={url} class="border-2 border-gray-300 hover:bg-gray-300">[ {title} ]</a> -->
<a href={url} class="border-2 border-slate-900 hover:bg-slate-900 hover:text-white">[ {title} ]</a>