---
const { src } = Astro.props
---

<div>
  <iframe
    id="video-1"
    class="w-full h-60 mb-5 md:h-96"
    src={src}
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
  </iframe>
</div>