---
layout: default
---
<div class="flex-container">
  {% include header.html %}

  <article class="article-page">

    <div class="wrapper">
      <div class="page-content">
        <div class="header-page">
          <h1 class="page-title">{{page.title}}</h1>
           <h3 class="page-title">{{page.subtitle}}</h3>
          <div class="page-date">
          <h3>[{{page.year}}]</h3>
          </div>
        </div>
        {{page.content | markdownify}}



        <img src="/assets/img/{{page.img}}" width="100%" alt="">

        {% if page.video_1 %}
        <iframe width="100%" height="100%" src="{{page.video_1}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% endif %}

        {% if page.video_2 %}
        <iframe width="100%" height="100%" src="{{page.video_2}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% endif %}

        {% if page.sonido_1 %}
        <iframe width="100%" height="150" src="{{page.sonido_1}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% endif %}

        {% if page.p3d_1 %}
        <iframe allowfullscreen webkitallowfullscreen width="100%" height="480" frameborder="0" seamless src="{{page.p3d_1}}"></iframe>
        {% endif %}

        <img src="/assets/img/{{page.img_2}}" width="100%" alt="">
        <img src="/assets/img/{{page.img_3}}" width="100%" alt="">
        <img src="/assets/img/{{page.img_4}}" width="100%" alt="">
        <img src="/assets/img/{{page.img_5}}" width="100%" alt="">
        <img src="/assets/img/{{page.img_6}}" width="100%" alt="">
        </div>

      </div>
      </div>
        </div>


    </div> <!-- End Wrapper -->
  </article>
  {% include footer.html %}
</div>
