---
import { Footer, Header } from "../components";
import { ViewTransitions } from "astro:transitions";
import { HEADER_TITLE, HEADER_SUBTITLE } from "../constants";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <meta name="description" content={HEADER_SUBTITLE} />
    <ViewTransitions />
    <title>{HEADER_TITLE} - {title}</title>
  </head>
  <body>
    <div class="max-w-5xl p-3 m-auto">
      <Header />
      <slot />
      <div id="sketch"></div>
      <Footer />
    </div>
  </body>
</html>

<style>
  :root {
    font-family: "JetBrains Mono", monospace;
  }
</style>
