---
import { Footer, Header } from "../components";
import { ViewTransitions } from "astro:transitions";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <meta
      name="description"
      content="Nic Motta - Artist and Developer personal web page"
    />
    <ViewTransitions />
    <title>[ n i c , m o t t a ] - {title}</title>
  </head>
  <body style="font-family: 'JetBrains Mono', monospace;">
    <div class="max-w-4xl p-3 m-auto">
      <slot />
    </div>
  </body>
</html>
